body {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.5fr 7fr 0.5fr;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #3C3BD8;
    color: white;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6rem;
    border-bottom: 0.375rem solid gold;
}

header h1 {
    font-weight: 800;
    font-size: 2.25rem;
}

button {
    width: 100px;
    height: 30px;
}
#popup {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(50, 50, 50, 0.9);
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: scale(0)
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#form {
    position: absolute;
    border: 1px solid #212121;
    border-radius: 2px;
    padding: 20px;
    width: 300px;
    left: 50%;
    top: 15%;
    margin-left: -150px;
    background: #ff7f50;
    border-radius: 1rem;
    animation: drop 0.25s ease forwards;
}

#form h3 {
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
}

input {
    width: 250px;
    background: none;
    border: 1px solid gold;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #3C3BD8;
}

::placeholder {
    color: white;
}

.read-container {
    display: flex;
    margin-bottom: 1rem;
}

.read-container label {
    margin-left: 0.5rem;
    width: 32rem;
}

.read-container input {
    margin-right: 6rem;
    margin-top: 0.3rem;
}

#close {
    position: absolute;
    font-weight: bold;
    margin-left: 288px;
    margin-top: -19px;
    width: 30px;
    height: 27px;
    color: white;
}

#close:hover {
    filter: brightness(85%);
    cursor: pointer;
}

#submit {
    background: #3C3BD8;
    margin-left: 24px;
}

#submit:hover {
    background: gold;
    color: #3C3BD8;
}

.card-container {
    display: grid;
    grid-template-rows: 50px 4fr;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add {
    font-size: 1.5rem;
    width: 12rem;
    height: 4rem;
    font-family: inherit;
    margin-top: 2rem;
    color: white;
}

#add:hover {
    background: gold;
    color: #3C3BD8;
    transition: all 0.25s ease;
}

button {
    border: 0;
    padding: 0;
    border-radius: 12px;
    background: none;
    font-weight: 800;
}

#cards {
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
    padding: 3rem 6rem 3rem 6rem;
    margin-top: 0.5rem;
}

.card {
    border: 1px solid black;
    background-color: #ff7f50;
    height: 18rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 3px 5px 5px #212121;
    border-radius: 0.5rem;
}

.card:hover {
    box-shadow: 12px 10px 10px #212121;
    transition: all 0.25s ease;
}

.card p, .card button {
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
}

.card button {
    background: #3C3BD8;
    width: 16rem;
    cursor:pointer;
}

.card button:hover {
    filter: brightness(85%);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

footer, footer h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
    transition: transform 0.7s ease-in-out;
}

footer img:hover {
    transform: rotate(360deg) scale(2);
}